/* ==== GENERIC RULES =============================================================================================== */


.backdrop,
.backdrop-overlay {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 154px);
}

.backdrop {
  background-color: #000;
}

.content-bg {
  background-color: #000;
}

#content {
  display: inline-block;
}


/* ==== MOBILE RULES ================================================================================================ */


@media (max-width: 767px) {
  #content-wrapper {
    margin-bottom: 50px;
    margin-top: 100px;
  }
}


/* ==== SMALL SCREEN RULES ========================================================================================== */


@media (min-width: 768px) {
  .backdrop-loader {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 1s ease-in-out;
  }

  .backdrop-overlay {
    background: url(../img/spacer.png) repeat fixed -3px top;
  }

  .backdrop {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* TODO: Insert actual FTMS images. */
  .backdrop.bg-slider {
    background-attachment: scroll;
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  .backdrop.bg-base {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  .backdrop.bg-project {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  .backdrop.bg-crew-about {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  .backdrop.bg-crew-staff {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  .backdrop.bg-cast {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  .backdrop.bg-media-gallery {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  .backdrop.bg-media-video {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  .backdrop.bg-impressum {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  .backdrop.bg-contact {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  #content-wrapper {
    margin-top: 80px;
    padding-bottom: 80px;
  }

  .content-bg {
    background-color: rgba(0,0,0,0.8);
  }
}
