/* ==== GENERIC RULES =============================================================================================== */


#upper-wrapper-outer,
#upper-wrapper-inner {
  width: 100%;
  height: 100%;
}


/* ==== MOBILE RULES ================================================================================================ */


@media (max-width: 767px) {
  #upper-wrapper-outer {
    background-color: #000;
  }

  #content {
    margin-top: 70px;
    padding-bottom: 20px;
  }
}


/* ==== SMALL SCREEN RULES ========================================================================================== */


@media (min-width: 768px) {
  #upper-wrapper-inner {
    background: url(../img/spacer.png) repeat -3px top;
  }

  #upper-wrapper-outer {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* TODO: Insert actual FTMS images. */
  #upper-wrapper-outer.bg-index {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  #upper-wrapper-outer.bg-base {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  #upper-wrapper-outer.bg-project {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  #upper-wrapper-outer.bg-crew-about {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  #upper-wrapper-outer.bg-crew-staff {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  #upper-wrapper-outer.bg-cast {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  #upper-wrapper-outer.bg-media-gallery {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  #upper-wrapper-outer.bg-media-video {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  #upper-wrapper-outer.bg-footer-legal-notice {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  #upper-wrapper-outer.bg-footer-contact {
    background-image: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-2437.jpg);
  }

  #content-wrapper {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  #content {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  #content-wrapper > .row {
    background-color: #000;
    background-color: rgba(0,0,0,0.8);
  }
}
