# Netbeans
/nbproject/
# PHPStorm/Webstorm/IntelliJ
.idea/
# Node dependencies
node_modules/
# Deployment files
dist/
# External JS dependencies
assets/js/lib/
# The font due to licensing
assets/font/
# Video config and thumbnails
media/video/api
media/video/config
media/video/thumbs

# HTML validator
validation-report.json
validation-status.json
# FTP credentials
.ftppass
# Compiled bootstrap CSS
assets/css/bootstrap.css
