# Netbeans
/nbproject/
# PHPStorm/Webstorm/IntelliJ
.idea/
# Node dependencies
node_modules/
# Deployment files
dist/
# External JS dependencies
assets/js/lib/
# The font due to licensing
assets/font/

# HTML validator
validation-report.json
validation-status.json
# FTP credentials
.ftppass
