/* ==== GENERIC RULES =============================================================================================== */


@media (min-width: 768px) {
  .base #content {
    padding: 15px 30px;
  }
}

@keyframes slideup {
  0% {
    top: 0;
    bottom: 0;
  }
  100% {
    top: -100vh;
    bottom: 0;
    display: none;
  }
}

#slider {
  animation: slideup 1s ease-in-out 30s 1 forwards;
  background-color: #000;
  color: #999;
  cursor: pointer;
  display: table;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
}

#body:target #slider{
  display: none;
}

#slider .backdrop-overlay {
  display: table-row;
}

#slider-logo,
#slider-chevron {
  position: absolute;
  left: 0;
  right: 0;
}

#slider-logo img {
  width: auto;
}

#slider article {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.banner {
  display: inline-block;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.banner:first-of-type {
  margin-top: 0;
}


/* ==== MOBILE RULES ================================================================================================ */


@media (max-width: 489px) {
  .banner {
    font-size: 8px;
  }
}

@media (min-width: 490px) {
  .banner {
    font-size: 15px;
  }
}

@media (min-width: 640px) {
  .banner {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  #slider-logo {
    top: 15px;
  }

  #slider-logo img {
    max-height: 10vh;
  }

  #slider-chevron {
    bottom: 20px;
  }
}


/* ==== SMALL SCREEN RULES ========================================================================================== */


@media (min-width: 768px) {
  #slider {
    height: 100vh;
  }

  #slider .backdrop-loader {
    z-index: -1;
  }

  #slider-logo {
    top: 30px;
  }

  #slider-logo img {
    max-height: 80px;
  }

  .banner {
    font-size: 25px;
    padding: 0 15px;
  }

  #slider-chevron {
    bottom: 40px;
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
  }

  #slider-chevron:hover,
  #slider-chevron:focus,
  #slider-chevron:active {
    opacity: 1;
  }
}


/* ==== LARGE SCREEN RULES ========================================================================================== */


@media (min-width: 992px) {
  .banner {
    font-size: 30px;
  }
}
