#gallery-active {
  margin-bottom: 50px;
}

#gallery-previous img,
#gallery-next img,
#gallery-grid img,
#gallery-fullscreen img {
  max-height: 20px;
}

#gallery-grid-view {
  background-color: #000;
  display: none;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#gallery-grid-view.show,
#gallery-grid-view:fullscreen {
  display: block;
}

#gallery-grid-view-content > div {
  cursor: pointer;
  margin-bottom: 20px;
}

#content:fullscreen {
  background-color: #000;
  position: static;
  margin: 0;
  padding: 0;
}

:fullscreen #gallery-active {
  width: 100%;
  height: calc(100vh - 25px);
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: table-cell;
  vertical-align: middle;
}

:fullscreen #gallery-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
}

::backdrop {
  background-color: #000;
}


/* ==== MOBILE RULES ================================================================================================ */


@media (max-width: 767px) {
  #gallery-active .img-responsive {
    max-height: 300px;
  }

  #gallery-previous.active,
  #gallery-next.active {
    visibility: hidden;
  }
}


/* ==== SMALL SCREEN RULES ========================================================================================== */


@media (min-width: 768px) {
  .media-gallery #content,
  .media-video #content {
    padding-bottom: 50px;
  }

  #gallery-active {
    min-height: 314px;
  }

  #gallery-previous,
  #gallery-next,
  #gallery-grid,
  #gallery-fullscreen {
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
  }

  #gallery-previous.active,
  #gallery-previous:hover,
  #gallery-previous:focus,
  #gallery-previous:active,
  #gallery-next.active,
  #gallery-next:hover,
  #gallery-next:focus,
  #gallery-next:active,
  #gallery-grid:hover,
  #gallery-grid:focus,
  #gallery-grid:active,
  #gallery-fullscreen:hover,
  #gallery-fullscreen:focus,
  #gallery-fullscreen:active {
    opacity: 1;
  }
}


/* ==== LARGE SCREEN RULES ========================================================================================== */


@media (min-width: 992px) {
  #gallery-active {
    min-height: 410px;
  }
}
