/* ==== SMALL SCREEN RULES ========================================================================================== */


@media (min-width: 768px) {
  .media-gallery #content,
  .media-video #content {
    padding-bottom: 50px;
  }

  #gallery-active {
    margin-bottom: 50px;
  }

  #gallery-preview {
    display: table;
    overflow: hidden;
  }

  #gallery-left,
  #gallery-right,
  .gallery-preview-image {
    cursor: pointer;
  }

  #gallery-left,
  #gallery-right {
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
  }

  #gallery-left.active,
  #gallery-left:hover,
  #gallery-left:focus,
  #gallery-left:active,
  #gallery-right.active,
  #gallery-right:hover,
  #gallery-right:focus,
  #gallery-right:active {
    opacity: 1;
  }

  #gallery-left img,
  #gallery-right img {
    max-width: 24px;
    padding-top: 30px;
  }

  .gallery-preview-image,
  .gallery-preview-spacer {
    display: table-cell;
    vertical-align: middle;
  }

  .gallery-preview-image {
    width: 29.166666%;
  }

  .gallery-preview-spacer {
    width: 6.25%;
  }
}


/* ==== LARGE SCREEN RULES ========================================================================================== */


@media (min-width: 992px) {
  #gallery-left img,
  #gallery-right img {
    padding-top: 40px;
  }
}
