/* Test code, remove!!!*/
/* *[class^='col-'],
.container {
  border: 1px solid red;
} */

/* ==== GENERAL STUFF =============================================================================================== */


html,
body {
  background-color: #000;
  color: #ccc;
  font: 14px/1.46 "Source Sans Pro", Arial, sans-serif;
  letter-spacing: 0.3px;
  position: relative;
}

a {
  border: 0 none;
  color: #666;
  cursor: pointer;
  font-weight: 700;
  outline: 0 none;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: #fff;
  outline: 0 none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
#footer-lower {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
}

p {
  margin-top: 40px;
}


/* ==== HEADER AND FOOTER =========================================================================================== */


header {
  background-color: #000;
  color: #fff;
  border-bottom: 3px solid #ccc;
  overflow: hidden;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: height 0.4s ease-in-out;
  z-index: 10;
}

header.expanded {
  height: 100vh;
}

header a {
  color: #fff;
}

#logo .img-responsive{
  max-height: 45px;
}

#mobile-menu {
  font-weight: 700;
  padding-bottom: 13px;
  padding-top: 13px;
}

#mobile-menu:after {
  content: '▼';
  margin-left: 5px;
  vertical-align: 10%;
}

#mobile-menu.expanded:after {
  content: '▲';
}

#main-navigation {
  margin-top: 3.5%;
  padding: 0 10px;
}

#main-navigation a {
  background-color: inherit;
  display: block;
  border-bottom: 1px solid #666;
  padding: 5px 0 5px 20px;
  transition: background-color 0.4s ease-in-out;
}

#main-navigation a:hover,
#main-navigation a:focus,
#main-navigation a:active {
  background-color: #333;
}

#social {
  margin-top: 10px;
}

/* Enhance the header menu experience for bigger screens. */
@media (min-width: 768px) {
  header {
    background-color: transparent;
    border-bottom: 0 none;
    color: #999;
    height: auto;
    margin-top: 20px;
    position: static;
    top: auto;
    left: auto;
    right: auto;
  }

  header a {
    color: inherit;
  }

  /* TODO: Replace with SVG styles, once implemented. */
  #logo {
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
  }

  #logo:hover,
  #logo:focus,
  #logo:active {
    opacity: 1;
  }

  #logo .img-responsive {
    max-height: none;
  }

  #main-navigation {
    padding: 0 10px;
    text-align: right;
  }

  #main-navigation a {
    border: 0 none;
    color: inherit;
    display: inline-block;
    margin-left: 20px;
    padding-left: 0;
    transition: color 0.4s ease-in-out;
  }

  #main-navigation a:hover,
  #main-navigation a:focus,
  #main-navigation a:active {
    background-color: transparent;
    color: #fff;
  }

  #social {
    margin-top: 4.25%
  }

  #social a {
    opacity: 0.5;
    padding: 0;
    transition: opacity 0.4s ease-in-out;
    width: 40%;
  }

  #social a:hover,
  #social a:focus,
  #social a:active {
    opacity: 1;
  }

  #social a:last-child {
    text-align: right;
    margin-left: 20%;
  }
}

#footer-logos {
  background-color: #303030;
  padding: 20px 0;
}

#footer-logos a {
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

#footer-logos a:hover,
#footer-logos a:focus,
#footer-logos a:active {
  opacity: 1;
}

#footer-lower {
  color: #666;
  padding-bottom: 15px;
  padding-top: 15px;
}

/* Bigger screens, different alignment. */
@media (min-width: 960px) {
  #social {
    margin-top: 3.75%
  }
}


/* ==== CONTENT ===================================================================================================== */


#upper-wrapper-outer {
  background-color: #000;
  width: 100%;
  height: 100%;
}

#upper-wrapper-inner {
  width: 100%;
  height: 100%;
}

#content {
  margin-top: 70px;
  padding-bottom: 20px;
}

/* Enhance the experience for bigger screens */
@media (min-width: 768px) {

  #upper-wrapper-inner {
    background: url(../img/spacer.png) repeat -3px top;
  }

  /* TODO: Insert full screen background images in upper-wrapper-outer. */

  #content-wrapper {
    padding-bottom: 80px;
    margin-top: 80px;
  }

  #content {
    margin-top: auto;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  #content-wrapper > .row {
    background-color: rgba(0,0,0,0.8);
  }
}


/* ==== GENERAL BREAKPOINT CUSTOMIZATIONS =========================================================================== */


/* Everything below this breakpoint will only be present on small phones. */
@media (max-width: 767px) {

}

/* Advanced rules for all bigger screens. */
@media (min-width: 768px) {

}
