/* Test code, remove!!!*/
/* *[class^='col-'],
.container {
  border: 1px solid red;
} */

/* ==== GENERAL STUFF =============================================================================================== */


html,
body {
  background-color: #000;
  color: #ccc;
  font: 14px/1.46 "Source Sans Pro", Arial, sans-serif;
  letter-spacing: 0.3px;
  position: relative;
}

header {
  color: #999;
}

a {
  border: 0 none;
  color: #666;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
#main-navigation {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
}

p {
  margin-top: 40px;
}


/* ==== HEADER AND FOOTER =========================================================================================== */


#top {
  margin-top: 20px;
}

/* TODO: Replace with SVG styles, once implemented. */
#logo {
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

#logo:hover,
#logo:focus,
#logo:active {
  opacity: 1;
}

#main-navigation {
  margin-top: 4%;
  padding: 0px 10px;
  text-align: right;
}

#main-navigation a {
  margin-left: 20px;
}

#social {
  margin-top: 4%
}

#social a{
  opacity: 0.5;
  padding: 0;
  transition: opacity 0.4s ease-in-out;
  width: 40%;
}

#social a:hover,
#social a:focus,
#social a:active {
  opacity: 1;
}

#social a:last-child {
  text-align: right;
  margin-left: 20%;
}

#footer-logos {
  background-color: #303030;
  padding: 20px 0;
}

#footer-logos a {
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
}

#footer-logos a:hover,
#footer-logos a:focus,
#footer-logos a:active {
  opacity: 1;
}

#footer-lower {
  color: #666;
  padding-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase;
}

/* Bigger screens, different alignment. */
@media (min-width: 960px) {
  #social {
    margin-top: 3.5%
  }
}


/* ==== CONTENT ===================================================================================================== */


#upper-wrapper-outer {
  background-color: #000;
  width: 100%;
  height: 100%;
}

#upper-wrapper-inner {
  width: 100%;
  height: 100%;
}

#content {
  padding-bottom: 20px;
}

/* Enhance the experience for bigger screens */
@media (min-width: 768px) {

  #upper-wrapper-inner {
    background: url(../img/spacer.png) repeat -3px top;
  }

  /* TODO: Insert full screen background images in upper-wrapper-outer. */

  #content-wrapper {
    padding-bottom: 80px;
    margin-top: 80px;
  }

  #content {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  #content-wrapper > .row {
    background-color: rgba(0,0,0,0.8);
  }
}


/* ==== GENERAL BREAKPOINT CUSTOMIZATIONS =========================================================================== */


/* Everything below this breakpoint will only be present on small phones. */
@media (max-width: 767px) {

}

/* Advanced rules for all bigger screens. */
@media (min-width: 768px) {

}
